<div >
    <img src={{this.image_url}}/>
    <div>
        <p>
            <h3>{{this.name}}</h3>
            <p>{{this.tagline}}</p>
        </p>
        <p>{{this.description}}</p>
    </div>
</div>
